<div class="container mt-5 mb-5">

    <div class=" card box shadow bg-body rounded">
        <div class="row">
            <div class="col-12 text-center my-3">
                <h4>Get Started</h4>
            </div>
            <form>
                <div class=" col-12  px-4 ">
                    <div class="inputs">
                        <input type="email"  class="input">
                        <label  class="input-label">User Name</label>
                      </div>
                </div>
                <div class="col-12 px-4 mt-4">
                    <div class="inputs">
                        <input type="password" class="input">
                        <label  class="input-label">Password</label>
                    
                      </div>
                </div>
            </form>
            <p class="text-center  mt-2 goo"> <b>OR</b></p>
            <div class=" mt-2 text-center">
                <button class="btn btn-white rounded-pill px-5 mb-2">Continue With Google</button>
            </div>

        </div>
        <div class=" justify-content-center  text-center mt-2">
            <button type="button" class="btn btn-danger   px-5 mb-5 rounded-pill">Sign In</button>
        </div>
    </div>
</div>