<div class="contianer">
    <div class="row">
        <div class="col-12 mt-5 text-center">
            <img src="./.././../../assets/theater1.jpg" width="70%" height="70%" class="rounded">
        </div>
        <div class="ms-4 col-12">
            <h4>AGS Cinemas: T. Nagar</h4>
            <p><span><i class="fa fa-map-marker"></i></span> No: 24/1, GN Chetty Road, T. Nagar, Opposite Dr. M.G.R.
                Educational and Research Institute, Chennai, Tamil Nadu 600017, India
            </p>
        </div>
    </div>
    <div class="row mt-4 mb-5">
        <div class="col-lg-4 col-md-4 col-xl-4 mt-4">  
            <div class="ms-4">
            <h4>Michael (UA)</h4>
            <div class="text-secondary"><span class="text-danger">Tamil</span>2D</div>
        </div>
        </div>
        <div class="col-lg-8 col-md-8 col-xl-8 d-flex mt-4">
            <div class="mx-2">
                <a class="py-2 px-3 text-center btn btn-primary" routerLink="/seat">
                    09:10 AM  <br>
                    <span>4k DOLBY 7.1</span>
                </a>
            </div>
            <div class="mx-2">
                <a class="py-2 px-3 text-center btn btn-primary">
                    12:40 PM  <br>
                    <span>4k DOLBY 7.1</span>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xl-4 mt-4">  
            <div class="ms-4">
            <h4>Thunivi (UA)</h4>
            <div class="text-secondary"><span class="text-danger">Tamil</span>2D</div>
        </div>
        </div>
        <div class="col-lg-8 col-md-8 col-xl-8 d-flex mt-4">
            <div class="mx-2">
                <a class="py-2 px-3 text-center btn btn-primary">
                    09:40 AM  <br>
                    <span>4k DOLBY 7.1</span>
                </a>
            </div>
            <div class="mx-2">
                <a class="py-2 px-3 text-center btn btn-primary">
                    12:55 PM  <br>
                    <span>4k DOLBY 7.1</span>
                </a>
            </div>
            <div class="mx-2">
                <a class="py-2 px-3 text-center btn btn-primary">
                    06:15 PM  <br>
                    <span>4k DOLBY 7.1</span>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xl-4 mt-4">  
            <div class="ms-4">
            <h4>Varisu (UA)</h4>
            <div class="text-secondary"><span class="text-danger">Tamil</span>2D</div>
        </div>
        </div>
        <div class="col-lg-8 col-md-8 col-xl-8 d-flex mt-4">
            <div class="mx-2">
                <a class="py-2 px-3 text-center btn btn-primary">
                    09:10 AM  <br>
                    <span>4k DOLBY 7.1</span>
                </a>
            </div>
            <div class="mx-2">
                <a class="py-2 px-3 text-center btn btn-primary">
                    01:10 PM  <br>
                    <span>4k DOLBY 7.1</span>
                </a>
            </div>
        </div>
    </div>

</div>