* {
    font-family:'Roboto', sans-serif
}

input {
    border: none;
}

.btn-primary {
    background-color: rgb(245, 100, 124);
    border: none;
}
.stickyy{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.navlist{
    margin-left: 50px;
}