<header>
    <div class="p-3  text-white" style="background-color: rgb(51,53,69)">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-12 d-flex justify-content-md-start  mb-md-0">
                    <h3 class="mx-2"><b>Ticket <span class="text-danger">B</span>ooking</b></h3>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 justify-content-end ">
                    <ul class="navbar-nav flex-row justify-content-md-end  justify-content-lg-end justify-content-sm-start ">
                        <li class="nav-item dropdown mx-3 text-white">
                            <a class="nav-link dropdown-toggle text-white-50" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Cites
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item">Chennai</a></li>
                                <li><a class="dropdown-item">Thanjavur</a></li>
                                <li><a class="dropdown-item">Madurai</a></li>
                            </ul>  
                        </li>
                        <li class="nav-link text-white">
                            <button class="btn btn-sm btn-primary px-2" >Sing in</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div class="fixed-sticky">
    <nav class="navbar navbar-expand-lg  navbar-dark " style="background-color: rgb(34,37,57)">
        <div class="container-fluid ms-xl-2 ">
            <span class="navbar-brand  ms-sm-3 ms-lg-5 me-xl-2">Movies</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " >Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Stream</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Events</a>
                    </li>
                </ul>
                <form class="d-flex mx-5">
                    <input class="form-control me-2 " type="search" placeholder="Search For movies..." aria-label="Search">
                </form>
            </div>
        </div>
    </nav>
</div>
</header>


