.round {
    border-radius: 100%;
}

.cast {
    width: 200px;
}

.backimg{
    background-image: linear-gradient(90deg, #1A1A1A 24.97%, #1A1A1A 38.3%, rgba(26, 26, 26, 0.0409746) 97.47%, #1A1A1A 100%), url(https://assets-in.bmscdn.com/iedb/movies/images/mobile/listing/xxlarge/michael-et00342919-1674473933.jpg);
}